.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu a {
    position: relative;
    display: inline-block;
    background-color: #a51723;
    color: white;
    text-decoration: none;
    padding: 10px 50px 10px 30px; 
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 50px 80px 30px 80px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}


.menu a.arrow-button-left::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 50px solid #a51723; 
    transition: .3s;
}


.menu a.arrow-button-right::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #a51723; /* Cor da seta */
    transition: .3s;
}

/* Efeito hover no botão VOLTAR */
.menu a.arrow-button-left:hover {
    background-color: #750f18;
}

.menu a.arrow-button-left:hover::before {
    border-right-color: #750f18;
}

/* Efeito hover no botão MÍDIAS */
.menu a.arrow-button-right:hover {
    background-color: #750f18;
}

.menu a.arrow-button-right:hover::after {
    border-left-color: #750f18;
}
