/* Garante que o body permita rolagem vertical */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}
.movies-page {
    height: 100vh;
    overflow-y: auto; 
}

.movies-page::-webkit-scrollbar-track {
    background-color: #252525;
}
.movies-page::-webkit-scrollbar {
    width: 6px;
    background: #252525;
}
.movies-page::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.menu {
    position: sticky;
    z-index: 1000;
    background-color: black;
}

