/* Estilos globais */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow: hidden;
}

.movie-form-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

/* Estilo do formulário */
.container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
    background-color: #f5d7ae;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.container h2 {
    margin-top: 20px;
    text-align: left; 
    width: 100%;
}

.container input{
    width: 100%;
    border-radius: 20px;
    padding: 10px; 
    font-size: 1rem;
    box-sizing: border-box; 
}

/* Quadrado vermelho */
.red-square {
    position: absolute;
    width: 525px;
    height: 630px;
    top: 0%;
    background-color: #a51723;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 0, 0.6);
    box-shadow: 0 0 50px rgba(255, 255, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1; 
}


.bulb {
    width: 17px;
    height: 17px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 255, 0, 0.8); /* Aumentado o valor inicial do box-shadow */
    position: absolute;
    animation: pulse 2s infinite; /* Animação de brilho contínua */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 30px rgba(255, 255, 0, 0.5); /* Aumentado o brilho inicial */
        background-color: rgba(255, 255, 0, 0.8); /* Amarelo suave */
    }
    50% {
        box-shadow: 0 0 80px rgba(255, 255, 0, 1); /* Aumentado o brilho máximo */
        background-color: rgba(255, 255, 0, 1); /* Amarelo mais intenso */
    }
    100% {
        box-shadow: 0 0 30px rgba(255, 255, 0, 0.5); /* Volta ao brilho suave, maior do que antes */
        background-color: rgba(255, 255, 0, 0.8); /* Amarelo suave novamente */
    }
}

/* Bolinhas no topo */
.bulb-top {
    top: 15px;
}

.bulb:nth-child(1) { left: calc(15px + (492px - 15px) * 1 / 9); }
.bulb:nth-child(2) { left: calc(15px + (492px - 15px) * 2 / 9); }
.bulb:nth-child(3) { left: calc(15px + (492px - 15px) * 3 / 9); }
.bulb:nth-child(4) { left: calc(15px + (492px - 15px) * 4 / 9); }
.bulb:nth-child(5) { left: calc(15px + (492px - 15px) * 5 / 9); }
.bulb:nth-child(6) { left: calc(15px + (492px - 15px) * 6 / 9); }
.bulb:nth-child(7) { left: calc(15px + (492px - 15px) * 7 / 9); }
.bulb:nth-child(8) { left: calc(15px + (492px - 15px) * 8 / 9); }

/* Bolinhas na direita */
.bulb-right {
    right: 15px;
}

.bulb:nth-child(9) { top: calc(15px + (600px - 15px) * 0 / 11); }
.bulb:nth-child(10) { top: calc(15px + (600px - 15px) * 1 / 11); }
.bulb:nth-child(11) { top: calc(15px + (600px - 15px) * 2 / 11); }
.bulb:nth-child(12) { top: calc(15px + (600px - 15px) * 3 / 11); }
.bulb:nth-child(13) { top: calc(15px + (600px - 15px) * 4 / 11); }
.bulb:nth-child(14) { top: calc(15px + (600px - 15px) * 5 / 11); }
.bulb:nth-child(15) { top: calc(15px + (600px - 15px) * 6 / 11); }
.bulb:nth-child(16) { top: calc(15px + (600px - 15px) * 7 / 11); }
.bulb:nth-child(17) { top: calc(15px + (600px - 15px) * 8 / 11); }
.bulb:nth-child(18) { top: calc(15px + (600px - 15px) * 9 / 11); }
.bulb:nth-child(19) { top: calc(15px + (600px - 15px) * 10 / 11); }
.bulb:nth-child(20) { top: calc(15px + (600px - 15px) * 11 / 11); }

/* Bolinhas na esquerda */
.bulb-bottom {
    bottom: 13px;
}

.bulb:nth-child(21) { left: calc(15px + (492px - 15px) * 1 / 9); }
.bulb:nth-child(22) { left: calc(15px + (492px - 15px) * 2 / 9); }
.bulb:nth-child(23) { left: calc(15px + (492px - 15px) * 3 / 9); }
.bulb:nth-child(24) { left: calc(15px + (492px - 15px) * 4 / 9); }
.bulb:nth-child(25) { left: calc(15px + (492px - 15px) * 5 / 9); }
.bulb:nth-child(26) { left: calc(15px + (492px - 15px) * 6 / 9); }
.bulb:nth-child(27) { left: calc(15px + (492px - 15px) * 7 / 9); }
.bulb:nth-child(28) { left: calc(15px + (492px - 15px) * 8 / 9); }

.bulb-left {
    left: 15px;
}

.bulb:nth-child(29) { top: calc(15px + (600px - 15px) * 0 / 11); }
.bulb:nth-child(30) { top: calc(15px + (600px - 15px) * 1 / 11); }
.bulb:nth-child(31) { top: calc(15px + (600px - 15px) * 2 / 11); }
.bulb:nth-child(32) { top: calc(15px + (600px - 15px) * 3 / 11); }
.bulb:nth-child(33) { top: calc(15px + (600px - 15px) * 4 / 11); }
.bulb:nth-child(34) { top: calc(15px + (600px - 15px) * 5 / 11); }
.bulb:nth-child(35) { top: calc(15px + (600px - 15px) * 6 / 11); }
.bulb:nth-child(36) { top: calc(15px + (600px - 15px) * 7 / 11); }
.bulb:nth-child(37) { top: calc(15px + (600px - 15px) * 8 / 11); }
.bulb:nth-child(38) { top: calc(15px + (600px - 15px) * 9 / 11); }
.bulb:nth-child(39) { top: calc(15px + (600px - 15px) * 10 / 11); }
.bulb:nth-child(40) { top: calc(15px + (600px - 15px) * 11 / 11); }

.buttons .button {
    padding: 10px 20px;
    margin: 3px;
    background-color: #a51723;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.buttons .button.selected {
    background-color: #5a0c13;
}

.edit-button-container {
    margin-top: 90px;
}

.edit-button {
    background-color: #a51723;
    color: white;
    border: 2px solid #a51723;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.edit-button:hover {
    background-color: #750f18;
}

.error {
    color: red;
}

.success {
    color: green;
}
