body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow: hidden;
}

.movie-list {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.type-menu ul {
    list-style: none;
    display: flex;           
    justify-content: center; 
    padding: 0;
    margin: 0;
}

.type-menu ul li {
    background-color: transparent;
    margin-right: 20px; /* Espaçamento entre os itens */
    position: relative; /* Para posicionamento relativo do texto sobre a imagem */
}

.type-menu ul li a {
    display: block;
    position: relative;      
    text-decoration: none;  
    color: white;            
    text-align: center;     
}

.type-menu ul li a img {
    width: 200px; 
    height: auto; 
}

.type-menu ul li a span {
    position: absolute;
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%); 
    font-weight: bold;       
    font-size: 16px;        
    white-space: nowrap;     
    pointer-events: none;    
}

/* .type-menu ul li a span:hover{
    font-size: 18px;
} */

.media-section p{
    margin: 10px;
}

.media-grid{
    display: flex;
    justify-content: center;
    padding: 20px;
    /* background-color: aqua; */
}

.media-card{
    background-color: #252525;
    border: solid 1px #656258;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}
